## Requirements
The product that you produce for this assignment is a notebook that describes your approach, as well as the code that implements the approach. Your notebook needs to include the following sections and information:

1. Introduction - A summary of your general approach
2. Data and statistics - Describe the data and statistics that you used, and how they were used.
3. Results of your approach - This section needs to include the top 5 players that your approach identifies. You also need to select one player from your top 5 and provide an analysis of his rating and monetary value.
4. Limitations - What difficulties do you see with implementing your strategy in the draft?

The draft will occur in class on March 20. Your assignment needs to be submitted before class on that day. 

To make grading easier, please name the notebook *Assignment4_LastName1_LastName2*, where *LastName1* and *LastName2* are the last names of the team members. Yes, you will be working in teams of two for this assignment.

## Introduction

Our approach will be to exploit the high points given for singles, doubles, triples, and homeruns. In particular, we will look for players who can get us these points. 

| Batting Stat | Points | 
|--------------|--------|
| H            | 5.6    |
| 2B           | 2.9    |
| 3B           | 5.7    |
| HR           | 9.4    |
| BB           | 3.0    |
<br>


In order to rank our fielding players, we will take inspiration from wOBA. Since we have limited funds to build our team, we are particularly interested in which players can give us the most amount of points for least amount of money. We will use wOBA's multipliers for H, 2B, 3B, and HR and divide by salary. Our modified wOBA fomula will use the same multipliers and follow the formula below: 

| Event | Points | 
|-------|--------|
| H     | .88    |
| 2B    | 1.247    |
| 3B    | 1.578    |
| HR    | 2.031    |


<br>

$$
\frac{(0.88 * H) + (1.247 * 2B) + (1.578 * 3B) + (2.031 * HR) }{salary}
$$
***
In order to rank our pitchers, we will take inspiration from FIP. FIP uses multipliers for different statistics which we will use in our formula. We will exploit the points below & calculate how many points per dollar each pitcher will bring us. See the formula below.

| Pitching Stat | Points |
|---------------|--------|
| IP            | 5      |
| K             | 2.0    |
| BB            | -3.0   |
| HBP           | -3.0   |
| HR            | -13    |
<br>
$$
\frac{(5.0 * IP) + (2.0 * K) + (-3.0 * (BB+HBP)) + (-13 * HR) }{salary}
$$

We will apply this formula for every player that has played in at least 100 games & sort them by their repected positions
.

## Data
### Pitching & Batting for 2018

We used the 2018 statcast hitter & pitcher data and Fan Graph salary projections for fantasy drafting data. From statcast we grabbed the statistics needed for our modified wOBA & FIP formula and from the Fan Graph data we got the positions of the players and their respective salaries.

In [15]:
from pybaseball import statcast
from pybaseball import batting_stats_range
import matplotlib.pylab as plt
import pandas as pd
import numpy as np

pitching2018 = pd.read_csv('statcast_2018.csv')
batting2018 = pd.read_csv('statcast_batting_2018.csv')
hittersSalaries = pd.read_csv('batters_fan_graph.csv')
pitchersSalaries = pd.read_csv('pitchers_fan_graph.csv')

pd.set_option('display.max_columns', None)
batting2018 = batting2018.loc[batting2018['G']>=100] # more than 100 games played

### Salary Data

In [17]:
# convert 'salary' string column to floats by removing ($,())
hittersSalaries['Dollars'] = [x.strip('$') for x in hittersSalaries.Dollars]
hittersSalaries['Dollars'] = [x.strip('($') for x in hittersSalaries.Dollars]
hittersSalaries['Dollars'] = [x.strip(')') for x in hittersSalaries.Dollars]
hittersSalaries['Dollars'] = pd.to_numeric(hittersSalaries['Dollars'])
hittersSalaries.head()

,PlayerName,Team,POS,ADP,PA,mAVG,mRBI,mR,mSB,mHR,PTS,aPOS,Dollars
0,Mookie Betts,Red Sox,OF,1.9,666,$8.1,$4.2,$8.2,$6.7,$3.5,$30.6,$7.9,39.5
1,Mike Trout,Angels,OF,1.1,595,$6.2,$4.7,$7.0,$4.0,$6.4,$28.2,$7.9,37.1
2,Jose Ramirez,Indians,3B,3.9,657,$4.2,$5.0,$5.0,$6.0,$2.9,$23.1,$8.0,32.2
3,J.D. Martinez,Red Sox,OF/DH,5.5,592,$6.3,$7.1,$4.0,($1.8),$6.3,$21.8,$7.9,30.7
4,Nolan Arenado,Rockies,3B,7.2,653,$4.6,$7.1,$5.0,($2.1),$6.7,$21.4,$8.0,30.4

In [48]:
# convert 'salary' string column to floats by removing ($,())
pitchersSalaries['Dollars'] = [x.strip('$') for x in pitchersSalaries.Dollars]
pitchersSalaries['Dollars'] = [x.strip('($') for x in pitchersSalaries.Dollars]
pitchersSalaries['Dollars'] = [x.strip(')') for x in pitchersSalaries.Dollars]
pitchersSalaries['Dollars'] = pd.to_numeric(pitchersSalaries['Dollars'])
pitchersSalaries.head()

,PlayerName,Team,POS,ADP,IP,mW,mSV,mERA,mWHIP,mSO,PTS,aPOS,Dollars
0,Chris Sale,Red Sox,SP,13.1,184,$5.9,($2.0),$11.1,$14.1,$7.0,$36.0,$10.3,47.3
1,Max Scherzer,Nationals,SP,4.7,208,$5.8,($2.0),$7.7,$11.6,$8.3,$31.3,$10.3,42.6
2,Jacob deGrom,Mets,SP,10.6,208,$4.9,($2.0),$10.4,$10.1,$7.1,$30.5,$10.3,41.8
3,Justin Verlander,Astros,SP,20.9,202,$5.6,($2.0),$4.4,$9.4,$7.0,$24.4,$10.3,35.7
4,Corey Kluber,Indians,SP,24.4,209,$5.2,($2.0),$3.3,$6.6,$5.1,$18.2,$10.3,29.5

# Applying the Formulas
***

## Fielding

In [18]:
batting2018['fantasy'] = ((batting2018['H']*0.88)+(batting2018['2B']*1.247)+(batting2018['3B']*1.578)+(batting2018['HR']*2.031))/hittersSalaries['Dollars']

result = pd.merge(batting2018, hittersSalaries, how='inner', left_on='Name', right_on='PlayerName')
result = result.dropna()
result = result[['Name', 'POS', 'fantasy', 'Dollars']].copy()
result.sort_values(by=['fantasy'], ascending=False)

                  Name       POS     fantasy  Dollars
42   Willson Contreras         C         inf     15.4
41    Michael Conforto        OF  864.375000      7.9
43       Carlos Correa        SS  496.342500     11.0
46         Nelson Cruz        DH  283.250000     22.9
44         Zack Cozart        3B  255.147500      1.8
45    Brandon Crawford        SS  234.612500      2.0
40       Shin-Soo Choo     OF/DH  196.160000      8.9
50         Khris Davis        DH   95.010385     16.5
47     Travis d'Arnaud         C   88.378000      3.3
48       Matt Davidson     1B/DH   85.786667     27.1
36       Robinson Cano        2B   75.465806      9.9
39      Starlin Castro        2B   75.460870      1.3
49         Chris Davis        1B   66.387083      6.2
37      Matt Carpenter     1B/3B   64.708667      9.2
34        Lorenzo Cain        OF   57.954872     14.7
32       Melky Cabrera        OF   54.965000     23.0
51         Paul DeJong        SS   52.637500      4.4
35        Kole Calhoun        OF   52.093514      2.8
38        Jason Castro         C   51.426667      0.2
54     Corey Dickerson        OF   50.689796      0.5
29         Kris Bryant     3B/OF   48.142830     20.5
58        Brian Dozier        2B   47.224727      2.3
31    Asdrubal Cabrera  2B/3B/SS   43.315814      1.5
28           Jay Bruce     1B/OF   43.002727      7.7
60         Adam Duvall        OF   39.723607     18.4
33      Miguel Cabrera        1B   38.783333     11.0
30        Byron Buxton        OF   36.905000      0.5
26        Alex Bregman     3B/SS   36.586250     23.4
57      Josh Donaldson        3B   34.867273      9.8
63   Edwin Encarnacion     1B/DH   33.266087      5.2
..                 ...       ...         ...      ...
3        Yonder Alonso        1B    8.150300      1.0
99       Josh Harrison        2B    8.045153      9.0
86         Alex Gordon        OF    8.041867      2.9
103    Cesar Hernandez        2B    8.040544      0.8
10          Alex Avila         C    7.687208      3.4
82           Yan Gomes         C    7.624771      0.9
119          Jake Lamb        3B    7.514983      3.9
0           Jose Abreu        1B    7.504608     18.3
120        DJ LeMahieu        2B    7.484816      3.6
122      Evan Longoria        3B    7.378392      3.5
123         Jed Lowrie        2B    7.355411      4.9
4        Aaron Altherr        OF    7.124440     24.5
97            Ian Happ     3B/OF    6.948080      4.0
118        Ian Kinsler        2B    6.817867     10.3
117         Max Kepler        OF    6.693649      6.8
92     Robbie Grossman     OF/DH    6.566212     24.2
116          Matt Kemp        OF    6.217305     11.3
111      Jose Iglesias        SS    6.153295     25.4
107      Jason Heyward        OF    5.980246      5.3
78         Greg Garcia        2B    5.911557     27.8
101      Austin Hedges         C    5.589615      1.3
1           Matt Adams        1B    4.933941     13.7
102  Guillermo Heredia        OF    4.899916     26.1
113            Jon Jay        OF    4.861498     25.4
104  Enrique Hernandez  2B/SS/OF    4.636722      4.8
124    Jonathan Lucroy         C    4.468991      0.8
110       Nick Hundley         C    4.257255      9.9
2        Jesus Aguilar        1B    4.134152      6.7
96         Alen Hanson     2B/OF    2.960759     30.1
106     Chris Herrmann         C    2.668811      7.5

[122 rows x 4 columns]

## Catchers

In [23]:
resultC = result.loc[result['POS']=='C'].copy().sort_values(by='fantasy', ascending=False)
resultC

                  Name POS    fantasy  Dollars
42   Willson Contreras   C        inf     15.4
47     Travis d'Arnaud   C  88.378000      3.3
38        Jason Castro   C  51.426667      0.2
88     Yasmani Grandal   C   9.908057     18.8
12     Tucker Barnhart   C   9.875985      7.1
10          Alex Avila   C   7.687208      3.4
82           Yan Gomes   C   7.624771      0.9
101      Austin Hedges   C   5.589615      1.3
124    Jonathan Lucroy   C   4.468991      0.8
110       Nick Hundley   C   4.257255      9.9
106     Chris Herrmann   C   2.668811      7.5

## 1B

In [24]:
result1B = result.loc[result['POS']=='1B'].copy().sort_values(by='fantasy', ascending=False)
result1B

                 Name POS    fantasy  Dollars
49        Chris Davis  1B  66.387083      6.2
33     Miguel Cabrera  1B  38.783333     11.0
72    Freddie Freeman  1B  21.598932     23.0
23        Justin Bour  1B  21.410253     11.2
15          Josh Bell  1B  18.947478      9.5
81   Paul Goldschmidt  1B  17.407059     21.8
66      Wilmer Flores  1B  14.990860      6.4
17       Brandon Belt  1B  14.174636      3.0
109       Eric Hosmer  1B  10.235039     10.8
100        Ryon Healy  1B   9.581966     11.5
3       Yonder Alonso  1B   8.150300      1.0
0          Jose Abreu  1B   7.504608     18.3
1          Matt Adams  1B   4.933941     13.7
2       Jesus Aguilar  1B   4.134152      6.7

## 2B

In [25]:
result2B = result.loc[result['POS']=='2B'].copy().sort_values(by='fantasy', ascending=False)
result2B

                Name POS    fantasy  Dollars
36     Robinson Cano  2B  75.465806      9.9
39    Starlin Castro  2B  75.460870      1.3
58      Brian Dozier  2B  47.224727      2.3
80   Scooter Gennett  2B  14.555282      4.7
5        Jose Altuve  2B  12.313435     23.2
67    Logan Forsythe  2B  11.162396     29.3
99     Josh Harrison  2B   8.045153      9.0
103  Cesar Hernandez  2B   8.040544      0.8
120      DJ LeMahieu  2B   7.484816      3.6
123       Jed Lowrie  2B   7.355411      4.9
118      Ian Kinsler  2B   6.817867     10.3
78       Greg Garcia  2B   5.911557     27.8

## 3B

In [26]:
result3B = result.loc[result['POS']=='3B'].copy().sort_values(by='fantasy', ascending=False)
result3B

               Name POS     fantasy  Dollars
44      Zack Cozart  3B  255.147500      1.8
57   Josh Donaldson  3B   34.867273      9.8
69    Maikel Franco  3B   20.469192      8.0
71     Todd Frazier  3B   16.731485     15.0
9     Nolan Arenado  3B   16.364194     30.4
94      Jedd Gyorko  3B    8.271298     13.4
119       Jake Lamb  3B    7.514983      3.9
122   Evan Longoria  3B    7.378392      3.5

## SS

In [27]:
resultSS = result.loc[result['POS']=='SS'].copy().sort_values(by='fantasy', ascending=False)
resultSS

                 Name POS     fantasy  Dollars
43      Carlos Correa  SS  496.342500     11.0
45   Brandon Crawford  SS  234.612500      2.0
51        Paul DeJong  SS   52.637500      4.4
21    Xander Bogaerts  SS   23.518409     17.6
75      Freddy Galvis  SS   17.948087      7.7
7        Elvis Andrus  SS   13.360396      2.4
90     Didi Gregorius  SS   11.653404     13.7
6        Tim Anderson  SS   10.055659      7.8
8       Orlando Arcia  SS    9.469149      4.7
121  Francisco Lindor  SS    9.463223     30.3
111     Jose Iglesias  SS    6.153295     25.4

## OF

In [28]:
resultOF = result.loc[result['POS']=='OF'].copy().sort_values(by='fantasy', ascending=False)
resultOF

                   Name POS     fantasy  Dollars
41     Michael Conforto  OF  864.375000      7.9
34         Lorenzo Cain  OF   57.954872     14.7
32        Melky Cabrera  OF   54.965000     23.0
35         Kole Calhoun  OF   52.093514      2.8
54      Corey Dickerson  OF   50.689796      0.5
60          Adam Duvall  OF   39.723607     18.4
30         Byron Buxton  OF   36.905000      0.5
20     Charlie Blackmon  OF   33.164040     25.2
53     Delino DeShields  OF   27.317111     10.7
19         Mookie Betts  OF   24.318286     39.5
27         Keon Broxton  OF   24.286167     14.9
25           Ryan Braun  OF   24.232687     10.1
24   Jackie Bradley Jr.  OF   23.492113      1.8
18    Andrew Benintendi  OF   19.538889     22.5
77       Avisail Garcia  OF   19.538205     17.8
62      Jacoby Ellsbury  OF   18.851324     28.0
68        Dexter Fowler  OF   17.946327     12.7
61         Jarrod Dyson  OF   17.649180     23.4
22      Jorge Bonifacio  OF   17.201220     25.8
79        Brett Gardner  OF   16.383955      8.8
76            Ben Gamel  OF   16.129310     25.7
115         Aaron Judge  OF    9.849786     20.3
83         Carlos Gomez  OF    9.578312     29.5
98         Bryce Harper  OF    9.301140     23.7
112      Ender Inciarte  OF    9.260769      7.4
105      Odubel Herrera  OF    8.879918      1.8
91       Randal Grichuk  OF    8.827037     10.3
114          Adam Jones  OF    8.783088     14.8
95       Billy Hamilton  OF    8.218057      0.2
86          Alex Gordon  OF    8.041867      2.9
4         Aaron Altherr  OF    7.124440     24.5
117          Max Kepler  OF    6.693649      6.8
116           Matt Kemp  OF    6.217305     11.3
107       Jason Heyward  OF    5.980246      5.3
102   Guillermo Heredia  OF    4.899916     26.1
113             Jon Jay  OF    4.861498     25.4

# The Line-Up
- C - Willson Contreras
- 1B - Chris Davis
- 2B - Robinson Cano
- 3B - Zack Cozart
- SS - Carlos Correa
- OF - Michael Conforto, Lorenzo Cain, Melky Cabrera
***

# Pitchers

In [38]:
from pybaseball.lahman import *
import pandas as pd

# data
download_lahman()

pitching = pitching()
pitching2018_L = pitching.loc[(pitching['yearID']==2016)].copy()
pitching2018_L

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,HR,BB,SO,BAOpp,ERA,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
44139,abadfe01,2016,1,MIN,AL,1,4,39,0,0,0,1,102,27,10,2,14,29,0.220,2.65,2.0,0.0,0.0,1,138.0,8.0,11,0.0,1.0,6.0
44140,abadfe01,2016,2,BOS,AL,0,2,18,0,0,0,0,38,13,9,2,8,12,0.255,6.39,0.0,1.0,1.0,0,60.0,7.0,9,0.0,0.0,1.0
44141,achteaj01,2016,1,LAA,AL,1,0,27,0,0,0,0,113,43,13,7,12,14,0.295,3.11,1.0,0.0,1.0,0,160.0,17.0,13,0.0,1.0,7.0
44142,adamsau01,2016,1,CLE,AL,0,0,19,0,0,0,0,55,27,20,5,7,17,0.333,9.82,1.0,0.0,0.0,0,88.0,11.0,22,0.0,0.0,2.0
44143,adlemti01,2016,1,CIN,NL,4,4,13,13,0,0,0,209,64,31,13,20,47,0.251,4.00,1.0,0.0,5.0,0,287.0,0.0,32,6.0,1.0,8.0
44144,alberan01,2016,1,MIN,AL,0,0,6,2,0,0,0,51,27,11,5,6,16,0.342,5.82,0.0,1.0,0.0,0,85.0,3.0,16,0.0,0.0,3.0
44145,alberma01,2016,1,CHA,AL,2,6,58,1,0,0,0,154,67,36,10,19,30,0.321,6.31,1.0,4.0,3.0,0,237.0,11.0,44,3.0,2.0,4.0
44146,albural01,2016,1,LAA,AL,0,0,2,0,0,0,0,6,2,1,1,2,1,0.200,4.50,0.0,0.0,0.0,0,12.0,1.0,3,0.0,0.0,0.0
44147,alcanra01,2016,1,OAK,AL,1,3,5,5,0,0,0,67,31,18,9,4,14,0.333,7.25,0.0,1.0,4.0,1,103.0,0.0,18,0.0,2.0,2.0
44148,alexasc01,2016,1,KCA,AL,0,0,17,0,0,0,0,57,24,7,1,7,16,0.316,3.32,0.0,0.0,0.0,0,84.0,4.0,7,0.0,1.0,4.0
44149,allenco01,2016,1,CLE,AL,3,5,67,0,0,0,32,204,41,19,8,27,87,0.177,2.51,2.0,3.0,0.0,0,264.0,55.0,23,3.0,2.0,7.0
44150,altavda01,2016,1,SEA,AL,0,0,15,0,0,0,0,37,11,1,0,1,10,0.244,0.73,0.0,1.0,1.0,0,48.0,7.0,1,0.0,1.0,1.0
44151,alvarda01,2016,1,ATL,NL,3,1,16,0,0,0,0,45,11,5,3,5,28,0.200,3.00,2.0,4.0,1.0,0,61.0,4.0,5,0.0,0.0,1.0
44152,alvarda01,2016,2,TEX,AL,0,0,10,0,0,0,0,35,17,10,3,2,13,0.362,7.71,0.0,1.0,2.0,0,52.0,5.0,11,0.0,1.0,3.0
44153,alvarjo02,2016,1,LAA,AL,1,3,64,0,0,0,0,172,71,22,4,15,51,0.298,3.45,4.0,2.0,1.0,0,256.0,12.0,29,1.0,1.0,5.0
44154,amarial01,2016,1,SDN,NL,0,0,1,0,0,0,0,1,0,0,0,0,0,0.000,0.00,0.0,0.0,0.0,0,1.0,1.0,0,0.0,0.0,0.0
44155,anderbr04,2016,1,LAN,NL,1,2,4,3,0,0,0,34,25,15,4,4,5,0.446,11.91,0.0,2.0,0.0,0,62.0,0.0,15,1.0,1.0,0.0
44156,anderch01,2016,1,MIL,NL,9,11,31,30,0,0,0,455,155,74,28,53,120,0.266,4.39,0.0,4.0,4.0,0,647.0,1.0,83,4.0,3.0,12.0
44157,anderco01,2016,1,CLE,AL,2,5,19,9,0,0,0,182,85,45,13,13,54,0.333,6.68,3.0,5.0,1.0,0,270.0,2.0,45,0.0,1.0,4.0
44158,anderty01,2016,1,COL,NL,5,6,19,19,0,0,0,343,119,45,12,28,99,0.272,3.54,2.0,4.0,3.0,3,478.0,0.0,50,6.0,3.0,13.0
44159,andrima01,2016,1,TBA,AL,8,8,29,19,1,1,1,383,131,62,17,25,109,0.265,4.37,1.0,3.0,1.0,4,527.0,3.0,64,0.0,6.0,13.0
44160,antoldu01,2016,1,TOR,AL,0,0,1,0,0,0,0,6,4,3,1,1,1,0.400,13.50,0.0,0.0,0.0,0,11.0,0.0,3,0.0,0.0,0.0
44161,aquinja01,2016,1,BAL,AL,0,0,3,0,0,0,0,7,1,0,0,0,3,0.125,0.00,0.0,0.0,0.0,0,8.0,2.0,0,0.0,0.0,0.0
44162,araujel01,2016,1,PHI,NL,2,1,32,0,0,0,0,82,35,17,4,17,29,0.313,5.60,2.0,0.0,2.0,1,134.0,9.0,22,2.0,1.0,2.0
44163,archech01,2016,1,TBA,AL,9,19,33,33,0,0,0,604,183,90,30,67,233,0.238,4.02,0.0,11.0,3.0,0,850.0,0.0,100,6.0,4.0,12.0
44164,armstsh01,2016,1,CLE,AL,0,0,10,0,0,0,0,32,9,3,1,5,7,0.237,2.53,2.0,1.0,0.0,0,44.0,2.0,3,1.0,0.0,1.0
44165,arojo01,2016,1,SEA,AL,0,0,1,0,0,0,0,2,1,0,0,1,0,0.333,0.00,0.0,0.0,0.0,0,4.0,0.0,0,0.0,0.0,0.0
44166,arrieja01,2016,1,CHN,NL,18,8,31,31,1,1,0,592,138,68,16,76,190,0.194,3.10,1.0,16.0,6.0,0,795.0,0.0,72,2.0,1.0,17.0
44167,asheral01,2016,1,PHI,NL,2,1,5,5,0,0,0,83,22,7,1,4,13,0.216,2.28,0.0,0.0,2.0,0,111.0,0.0,11,2.0,1.0,2.0
44168,avilalu01,2016,1,LAN,NL,3,0,27,0,0,0,0,59,12,7,0,10,28,0.176,3.20,4.0,1.0,2.0,0,82.0,3.0,8,2.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44933,wilheto01,2016,1,TEX,AL,2,3,21,0,0,0,0,64,38,25,7,9,11,0.392,10.55,0.0,0.0,2.0,0,109.0,3.0,25,0.0,1.0,4.0
44934,wilheto01,2016,2,SEA,AL,0,1,29,0,0,0,1,75,22,10,4,10,17,0.244,3.60,0.0,0.0,0.0,0,100.0,2.0,10,0.0,0.0,4.0
44935,willije02,2016,1,SLN,NL,0,0,11,0,0,0,0,52,22,11,4,6,8,0.306,5.71,1.0,0.0,2.0,0,81.0,9.0,15,0.0,1.0,3.0
44936,willitr01,2016,1,PIT,NL,1,1,7,1,0,0,0,38,19,11,4,5,11,0.339,7.82,0.0,0.0,0.0,0,61.0,1.0,13,0.0,0.0,2.0
44937,wilsoal01,2016,1,DET,AL,4,0,62,0,0,0,0,219,68,24,5,21,49,0.252,2.96,5.0,2.0,1.0,0,297.0,6.0,26,0.0,5.0,8.0
44938,wilsoju10,2016,1,DET,AL,4,5,66,0,0,0,1,176,61,27,6,17,65,0.263,4.14,2.0,4.0,1.0,0,251.0,10.0,29,1.0,0.0,7.0
44939,wilsoty01,2016,1,BAL,AL,4,6,24,13,0,0,0,282,110,55,15,24,55,0.288,5.27,1.0,2.0,4.0,0,414.0,5.0,57,1.0,3.0,8.0
44940,wimmeal01,2016,1,MIN,AL,1,3,16,0,0,0,0,52,14,8,2,11,14,0.237,4.15,1.0,0.0,0.0,0,72.0,2.0,8,0.0,2.0,3.0
44941,winklda01,2016,1,ATL,NL,0,0,3,0,0,0,0,7,0,0,0,1,4,0.000,0.00,0.0,0.0,0.0,0,8.0,0.0,0,0.0,0.0,0.0
44942,wislema01,2016,1,ATL,NL,7,13,27,26,0,0,1,470,159,87,26,49,115,0.259,5.00,3.0,5.0,4.0,1,671.0,1.0,90,2.0,3.0,12.0
44943,withrch01,2016,1,ATL,NL,3,0,46,0,0,0,0,113,29,15,5,17,28,0.213,3.58,1.0,1.0,2.0,0,158.0,6.0,16,2.0,1.0,2.0
44944,wittgni01,2016,1,MIA,NL,4,3,48,0,0,0,0,155,50,18,6,10,42,0.254,3.14,2.0,1.0,1.0,0,213.0,9.0,18,3.0,2.0,2.0
44945,woodal02,2016,1,LAN,NL,1,4,14,10,0,0,0,181,56,25,5,20,66,0.245,3.73,0.0,4.0,3.0,0,255.0,0.0,30,0.0,2.0,5.0
44946,woodbl01,2016,1,CIN,NL,6,5,70,0,0,0,1,230,72,34,9,38,81,0.251,3.99,3.0,8.0,2.0,0,330.0,21.0,38,1.0,2.0,8.0
44947,woodtr01,2016,1,CHN,NL,4,0,77,0,0,0,0,183,45,20,8,24,47,0.199,2.95,2.0,0.0,1.0,0,252.0,16.0,24,1.0,0.0,3.0
44948,worleva01,2016,1,BAL,AL,2,2,35,4,0,0,1,260,84,34,11,35,56,0.261,3.53,0.0,3.0,3.0,0,365.0,13.0,37,0.0,3.0,12.0
44949,wrighda04,2016,1,CIN,NL,0,2,4,2,0,0,0,39,25,11,2,2,6,0.417,7.62,0.0,1.0,0.0,0,64.0,0.0,16,1.0,1.0,2.0
44950,wrighda04,2016,2,LAA,AL,1,3,5,5,0,0,0,80,32,16,5,6,15,0.314,5.40,0.0,1.0,5.0,0,115.0,0.0,16,1.0,1.0,4.0
44951,wrighmi01,2016,1,BAL,AL,3,4,18,12,0,0,0,224,81,48,12,26,50,0.282,5.79,0.0,2.0,9.0,0,328.0,5.0,53,1.0,5.0,10.0
44952,wrighst01,2016,1,BOS,AL,13,6,24,24,4,1,0,470,138,58,12,57,127,0.235,3.33,1.0,10.0,8.0,0,656.0,0.0,74,2.0,2.0,16.0
44953,yateski01,2016,1,NYA,AL,2,1,41,0,0,0,0,124,41,24,5,19,50,0.258,5.23,1.0,1.0,4.0,0,184.0,11.0,24,1.0,1.0,1.0
44954,ynoaga01,2016,1,NYN,NL,1,0,10,3,0,0,0,55,26,13,0,7,17,0.333,6.38,0.0,0.0,1.0,0,88.0,2.0,13,0.0,2.0,1.0
44955,ynoami01,2016,1,CHA,AL,1,0,23,0,0,0,0,90,20,10,0,17,30,0.183,3.00,2.0,4.0,5.0,0,135.0,7.0,11,1.0,2.0,1.0
44956,youngch03,2016,1,KCA,AL,3,9,34,13,0,0,1,266,104,61,28,43,94,0.291,6.19,1.0,3.0,1.0,0,406.0,7.0,63,0.0,4.0,3.0
44957,youngma03,2016,1,ATL,NL,0,0,8,0,0,0,0,21,12,5,0,4,4,0.400,6.43,0.0,0.0,1.0,0,37.0,1.0,5,1.0,1.0,0.0
44958,zastrro01,2016,1,CHN,NL,1,0,8,1,0,0,0,48,12,2,0,5,17,0.207,1.13,0.0,0.0,1.0,0,66.0,1.0,3,0.0,2.0,1.0
44959,zieglbr01,2016,1,ARI,NL,2,3,36,0,0,0,18,115,41,12,1,15,27,0.281,2.82,5.0,0.0,2.0,0,165.0,30.0,13,1.0,1.0,10.0
44960,zieglbr01,2016,2,BOS,AL,2,4,33,0,0,0,4,89,26,5,1,11,31,0.234,1.52,2.0,1.0,1.0,0,124.0,12.0,8,1.0,0.0,6.0
44961,zimmejo02,2016,1,DET,AL,9,7,19,18,0,0,0,316,118,57,14,26,66,0.284,4.87,0.0,3.0,2.0,0,450.0,1.0,63,1.0,5.0,8.0
44962,zychto01,2016,1,SEA,AL,1,0,12,0,0,0,0,41,10,5,0,10,21,0.208,3.29,2.0,0.0,1.0,0,60.0,3.0,6,0.0,1.0,1.0

In [42]:
pitching2018_L['IP'] = pitching2018_L['IPouts'] / 3
master = master()

In [60]:
pitching2018_L['fantasy'] = ((5.0*pitching2018_L['IP'])+(2.0*pitching2018_L['SO'])-(3.0*(pitching2018_L['BB']+pitching2018_L['HBP'])-(13.0*pitching2018_L['HR'])))


resultNames = pd.merge(pitching2018_L[['playerID', 'fantasy']], 
                      master[['playerID', 'nameFirst', 'nameLast']],
                      on='playerID', how='outer')
resultNames['Name'] = resultNames['nameFirst']+" "+resultNames['nameLast']


resultP = pd.merge(resultNames, pitchersSalaries, how='inner', left_on='Name', right_on='PlayerName')

resultP = resultP.dropna()
resultP = resultP[['Name', 'POS', 'fantasy', 'Dollars']].copy()
resultP.sort_values(by=['fantasy'], ascending=False)

                  Name POS      fantasy  Dollars
284       Max Scherzer  SP  1926.666667     42.6
325   Justin Verlander  SP  1841.333333     35.7
246        David Price  SP  1825.000000     11.5
36   Madison Bumgarner  SP  1787.333333     10.0
277         Chris Sale  SP  1764.333333     47.3
244      Rick Porcello  SP  1657.000000      6.6
9         Chris Archer  SP  1652.666667     16.7
165       Corey Kluber  SP  1623.000000     29.5
160        Ian Kennedy  SP  1538.333333     11.8
247      Jose Quintana  SP  1526.000000      9.1
172         Jon Lester  SP  1506.333333      0.4
278    Jeff Samardzija  SP  1497.666667      0.4
314    Masahiro Tanaka  SP  1497.333333     10.9
79         Danny Duffy  SP  1478.333333      2.1
297         Drew Smyly  SP  1473.666667      6.6
224      Jake Odorizzi  SP  1473.333333     10.2
241     Michael Pineda  SP  1466.333333      3.8
129        Cole Hamels  SP  1460.333333      7.3
106      Kevin Gausman  SP  1454.333333      2.8
308     Marcus Stroman  SP  1451.000000      2.5
303        Dan Straily  SP  1431.666667     11.8
188      Collin McHugh  SP  1425.333333      1.7
134  Jeremy Hellickson  SP  1412.000000      9.0
316      Julio Teheran  SP  1410.000000     11.3
329    Adam Wainwright  SP  1409.333333      1.2
251         Robbie Ray  SP  1388.666667     14.8
312   Noah Syndergaard  SP  1362.333333     19.3
257       Tanner Roark  SP  1357.000000      5.3
136     Kyle Hendricks  SP  1329.000000      6.8
11        Jake Arrieta  SP  1328.666667      1.0
..                 ...  ..          ...      ...
323       Jason Vargas  SP    86.000000      3.7
99       Carson Fulmer  SP    77.333333     17.8
265           Chaz Roe  RP    75.333333      5.9
235         Felix Pena  SP    75.000000      6.7
169       Wade LeBlanc  SP    74.000000      8.4
133      Andrew Heaney  SP    70.000000     11.4
170       Jose Leclerc  RP    66.000000      1.8
10     Shawn Armstrong  RP    65.333333      6.0
146       Tommy Hunter  RP    64.666667      5.3
305     Chris Stratton  SP    60.000000      3.6
152    Jeremy Jeffress  RP    59.666667      3.4
255    Clayton Richard  SP    57.000000     12.8
85        Roenis Elias  RP    55.333333      9.1
186     Kevin McCarthy  RP    53.666667     11.4
142    Jonathan Holder  RP    52.666667      8.0
248       Neil Ramirez  RP    47.333333      6.6
233        James Pazos  RP    45.666667      7.8
201        Juan Minaya  RP    42.666667      9.6
249       Neil Ramirez  RP    40.333333      6.6
274       Hyun-Jin Ryu  SP    38.333333      9.4
310      Daniel Stumpf  RP    36.000000      9.4
272         Tyson Ross  SP    27.666667     17.0
231      David Paulino  RP    27.000000      6.0
119         Matt Grace  RP    23.000000      8.2
179        Matt Magill  RP    21.666667     11.1
192    Yohander Mendez  SP     9.000000     18.3
189    Adalberto Mejia  RP     8.666667      9.1
225        Tyler Olson  RP     7.333333      6.6
128    Tayron Guerrero  RP     7.000000      7.3
229       Blake Parker  RP     2.000000      1.1

[306 rows x 4 columns]

## SP

In [62]:
resultSP = resultP.loc[resultP['POS']=='SP']
resultSP.sort_values(by=['fantasy'], ascending=False)

                  Name POS      fantasy  Dollars
284       Max Scherzer  SP  1926.666667     42.6
325   Justin Verlander  SP  1841.333333     35.7
246        David Price  SP  1825.000000     11.5
36   Madison Bumgarner  SP  1787.333333     10.0
277         Chris Sale  SP  1764.333333     47.3
244      Rick Porcello  SP  1657.000000      6.6
9         Chris Archer  SP  1652.666667     16.7
165       Corey Kluber  SP  1623.000000     29.5
160        Ian Kennedy  SP  1538.333333     11.8
247      Jose Quintana  SP  1526.000000      9.1
172         Jon Lester  SP  1506.333333      0.4
278    Jeff Samardzija  SP  1497.666667      0.4
314    Masahiro Tanaka  SP  1497.333333     10.9
79         Danny Duffy  SP  1478.333333      2.1
297         Drew Smyly  SP  1473.666667      6.6
224      Jake Odorizzi  SP  1473.333333     10.2
241     Michael Pineda  SP  1466.333333      3.8
129        Cole Hamels  SP  1460.333333      7.3
106      Kevin Gausman  SP  1454.333333      2.8
308     Marcus Stroman  SP  1451.000000      2.5
303        Dan Straily  SP  1431.666667     11.8
188      Collin McHugh  SP  1425.333333      1.7
134  Jeremy Hellickson  SP  1412.000000      9.0
316      Julio Teheran  SP  1410.000000     11.3
329    Adam Wainwright  SP  1409.333333      1.2
251         Robbie Ray  SP  1388.666667     14.8
312   Noah Syndergaard  SP  1362.333333     19.3
257       Tanner Roark  SP  1357.000000      5.3
136     Kyle Hendricks  SP  1329.000000      6.8
11        Jake Arrieta  SP  1328.666667      1.0
..                 ...  ..          ...      ...
57      Mike Clevinger  SP   382.000000      8.0
291       Tyler Skaggs  SP   338.333333      6.4
41      Andrew Cashner  SP   338.333333     30.9
334        Luke Weaver  SP   320.666667      0.0
256    Clayton Richard  SP   316.333333     12.8
173     Reynaldo Lopez  SP   290.000000     14.3
254         Alex Reyes  SP   278.000000      5.0
141          Rich Hill  SP   260.666667     16.9
64       Jharel Cotton  SP   232.666667      5.8
45      Jhoulys Chacin  SP   215.333333     11.2
16       Chris Bassitt  SP   209.000000      7.1
58           Alex Cobb  SP   186.000000     15.8
110      Lucas Giolito  SP   180.666667     21.1
70        Jose De Leon  SP   150.000000      4.9
112      Tyler Glasnow  SP   142.666667      4.1
87        Robbie Erlin  SP   134.333333      2.4
180     German Marquez  SP   132.333333     14.3
335    Trevor Williams  SP   122.333333     11.7
208     Charlie Morton  SP   113.666667     14.2
5       Brett Anderson  SP   106.666667      6.1
323       Jason Vargas  SP    86.000000      3.7
99       Carson Fulmer  SP    77.333333     17.8
235         Felix Pena  SP    75.000000      6.7
169       Wade LeBlanc  SP    74.000000      8.4
133      Andrew Heaney  SP    70.000000     11.4
305     Chris Stratton  SP    60.000000      3.6
255    Clayton Richard  SP    57.000000     12.8
274       Hyun-Jin Ryu  SP    38.333333      9.4
272         Tyson Ross  SP    27.666667     17.0
192    Yohander Mendez  SP     9.000000     18.3

[138 rows x 4 columns]

## RP

In [63]:
resultRP = resultP.loc[resultP['POS']=='RP']
resultRP.sort_values(by=['fantasy'], ascending=False)

                Name POS      fantasy  Dollars
24       Chad Bettis  RP  1294.000000     10.9
276    Danny Salazar  RP  1021.666667      0.1
340    Steven Wright  RP   998.333333      9.7
31    Archie Bradley  RP   989.333333      1.0
206      Adam Morgan  RP   956.666667      6.9
236     Wily Peralta  RP   933.333333      7.9
215     Juan Nicasio  RP   905.000000      5.6
62       Adam Conley  RP   864.666667      7.9
127    Junior Guerra  RP   800.333333      6.0
73    Chris Devenski  RP   732.666667      4.7
130        Brad Hand  RP   661.666667      9.2
213     Hector Neris  RP   623.666667      4.6
240     David Phelps  RP   619.333333      8.0
12        Pedro Baez  RP   607.000000      5.9
226    Roberto Osuna  RP   600.000000      8.3
29        Brad Brach  RP   595.000000      7.5
23   Dellin Betances  RP   595.000000      7.6
252     Addison Reed  RP   583.333333     12.3
91     Michael Feliz  RP   579.000000      7.7
139   Kelvin Herrera  RP   565.000000      5.1
137  David Hernandez  RP   564.333333      7.3
150    Kenley Jansen  RP   564.333333     12.3
147  Raisel Iglesias  RP   555.666667      6.2
109        Ken Giles  RP   555.333333      5.0
153       Nate Jones  RP   550.333333      3.0
273      Chris Rusin  RP   546.666667      9.8
245     Ryan Pressly  RP   539.666667      0.9
259    Hansel Robles  RP   538.333333      8.9
2         Cody Allen  RP   537.000000      4.8
156     Shawn Kelley  RP   534.000000     10.5
..               ...  ..          ...      ...
81         Zach Duke  RP   123.666667      8.0
1    Scott Alexander  RP   119.000000      4.5
42     Miguel Castro  RP   118.333333     15.3
296       Will Smith  RP   116.666667      5.7
207   Brandon Morrow  RP   113.000000      5.1
317      Ryan Tepera  RP   107.666667      5.2
78    Brian Duensing  RP   103.666667     11.8
103      Luis Garcia  RP   103.666667      7.6
230     Blake Parker  RP    94.666667      1.1
96       Dylan Floro  RP    88.000000      7.0
265         Chaz Roe  RP    75.333333      5.9
170     Jose Leclerc  RP    66.000000      1.8
10   Shawn Armstrong  RP    65.333333      6.0
146     Tommy Hunter  RP    64.666667      5.3
152  Jeremy Jeffress  RP    59.666667      3.4
85      Roenis Elias  RP    55.333333      9.1
186   Kevin McCarthy  RP    53.666667     11.4
142  Jonathan Holder  RP    52.666667      8.0
248     Neil Ramirez  RP    47.333333      6.6
233      James Pazos  RP    45.666667      7.8
201      Juan Minaya  RP    42.666667      9.6
249     Neil Ramirez  RP    40.333333      6.6
310    Daniel Stumpf  RP    36.000000      9.4
231    David Paulino  RP    27.000000      6.0
119       Matt Grace  RP    23.000000      8.2
179      Matt Magill  RP    21.666667     11.1
189  Adalberto Mejia  RP     8.666667      9.1
225      Tyler Olson  RP     7.333333      6.6
128  Tayron Guerrero  RP     7.000000      7.3
229     Blake Parker  RP     2.000000      1.1

[159 rows x 4 columns]

Let's take a look at one of the top 5 outfielders our calculation found, Mookie Betts.

## Limitations